{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "funcoes.html" as msg %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ msg.messagem(classe, texto)}}
        </div>
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Editar Setor</h4></div>
                <div class="panel-body">
                    <form name="pesquisa" action="" method="POST">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="setor" class="control-label">Nome</label>
                                <input name="setor" value="{{setor.nome}}" type="text" class="form-control" id="setor" required>
                            </div>
                            <div class="col-md-1">
                                <label for="setor" class="control-label">Sigla</label>
                                <input name="sigla" value="{{setor.sigla}}" type="text" class="form-control" id="sigla" required>
                            </div>
                            <div class="col-md-2">
                                <label for="bloco" class="control-label">Bloco</label>
                                <select class="col-md-1 form-control" name="bloco" id="bloco">
                                    {% for bloco in blocos %}
                                    <option value={{ bloco.bloco_id }}>{{bloco.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="bloco" class="control-label">Ativo</label>
                                <select class="col-md-1 form-control" name="ativo" id="ativo">
                                    <option value="{{setor.ativo}}">{{setor.ativo == 'S'? 'Sim' : 'Não'}}</option>
                                    <option value="{{setor.ativo == 'S'? 'N' : 'S'}}">{{setor.ativo == 'S'? 'Não' : 'Sim'}}</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="setor" class="control-label">Ordem</label>
                                <input name="ordem" value="{{setor.ordem}}" type="text" class="form-control" id="ordem" >
                            </div>
                            <div class="col-md-2">
                                <div class="form-group"><br>
                                    <button  type="submit" class="btn btn-primary">
                                        <i class="fas fa-search"></i> Salvar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}