{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ forms.error_message(form, mensagem)}}
    </div>
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Cadastrar Novo Fabricante</h4></div>
        <div class="panel-body">
          <form name="pesquisa" action="" method="POST">
            <div class="row">
              <div class="col-md-4">
                <label for="fabricante" class="control-label">Nome</label>
                <input name="fabricante" type="text" class="form-control" id="fabricante" required>
              </div>
              <div class="col-md-2">
                <div class="form-group"><br>
                  <button  type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Fabricantes</div>
        <div class="panel-body">
            
            <div class="col-md-4">
                <label for="key" class="control-label">Pesquisar</label>
                <input name="key" placeholder="Digite sua pesquisa..." type="text" class="form-control" id="key" onkeyup="keyReleased()">
              </div>
              <div class="col-md-2">
                <div class="form-group"><br>
                  <button  type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar
                  </button>
                </div>
              </div>
            
          <table class="table table-striped table-bordered table-condensed">
            <thead class="bg-primary">
              <tr><td class="text-center">Nome</td><td class="text-center">Gerenciar Modelo</td><td class="text-center">Excluir</td></tr>
            </thead>
            <tbody>
              {% for fabricante in fabricantes %}
              <tr>
                  <td class="text-center">{{fabricante.getNome}}</td>
                  <td class="col-lg-1 bg-success"> <p class="text-center"><a href="modelo/{{fabricante.getFabricante_id}}"><i class="fas fa-cog"></i></a></p></td>
                  <td class="col-lg-1 bg-danger"><p class="text-center"><a href="fabricante/delete/{{fabricante.getFabricante_id}}"><i class="far fa-trash-alt"></i> </a></p></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function keyReleased() {
    var c = document.getElementById("key").value;
    console.log(c);
    location.href = "fabricante/key/"+c; //COMEÇAR DAQUI
}
</script>
{% endblock %}