{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "uteis.html" as functions %}

{% block content %}
<div class="col-md-12">
  {{ forms.error_message(form, mensagem)}}
</div>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Adicionar Bem</h4></div>
    <div class="panel-body">
      <form name="cadastro" action="" method="POST" enctype="multipart/form-data">
<input name="foto_bem" type="hidden" value="{{foto}}">
    <div class="row">
      <div class="col-md-2">
        <figure class="figure">
          <img class="img-responsive img-thumbnail"  alt="imagem do bem" src="{{base_url()}}/uploads/imagem/{{foto}}">
              <figcaption class="figure-caption text-center text-muted">Imagem do Ativo</figcaption>
            </figure>
          </div>
          <div class="col-md-10">
            <div class="row">
              {{forms.input(form.patrimonio, 2)}}
              {{forms.input(form.nome, 4)}}
              {{forms.input(form.data_atesto, 2)}}
              {{forms.input(form.foto, 4)}}
            </div>
            <div class="row">
              {{forms.input(form.nota_fiscal, 2)}}
              {{forms.input(form.fornecedor, 3)}}
              {{forms.input(form.fabricante, 3, null, functions.btnAddItens('Fabricante|fabricante', 'Adicionar Tipo de Status'))}}
              {{forms.input(form.modelo, 4, null, functions.btnAddItens('Modelo|modelo', 'Adicionar Modelo'))}}
            </div>
            <div class="row">
              {{forms.input(form.tipo_de_aquisicao, 3, null, functions.btnAddItens('Tipo de Aquisição|tipo_de_aquisicao', 'Adicionar Tipo de Aquisição'))}}
              {{forms.input(form.status, 3, null, functions.btnAddItens('Status|status', 'Adicionar Tipo de Status'))}}
              {{forms.input(form.setor, 3, null, functions.btnAddItens('Setor|setor', 'Adicionar Setor'))}}
              {{forms.input(form.estado_de_conservacao, 3, null, functions.btnAddItens('Estado de Conservação|estado_de_conservacao', 'Adicionar Estado de Conservação'))}}
            </div>
          </div>
        </div>

        <div class="row">
          {{forms.input(form.descricao, 12)}}

        </div>
        <div class="row">
          {{forms.input(form.observacao, 12)}}

        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <button  type="submit" class="btn btn-primary">
                <i class="far fa-save"></i> Salvar
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

{{ functions.modalItens() }}
{% endblock %}

