{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "uteis.html" as functions %}
{% import "funcoes.html" as msg %}

{% block content %}

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="" method="POST" >

        <div class="col-md-4">
          <label for="foto" class="control-label">Foto</label>
          <input name="foto" type="file" class="form-control" id="foto">
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group"><br>
              <button  type="submit" class="btn btn-info">
                <i class="fas fa-retweet"></i> Atualizar
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>


{% endblock %}

