{% macro modalItens() %}
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cadastro de Item: <span id="titulo"></span></h4>
      </div>
      <div class="modal-body">
        <div style="display: none" id="alerta" class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <span id="mensagem"></span>
        </div>
        <input type="hidden" id="item" value="">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input class="form-control" id="nome_item" name="nome_item" type="text" value="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button id="btnSalvarItens" type="button" class="btn btn-info" >
                <i class="far fa-save"></i> Salvar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btnSairModalItens" type="button" class="btn btn-warning" data-dismiss="modal">
          <span class="glyphicon glyphicon-log-out"></span> Sair
        </button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
{% macro btnAddItens(data, title) %}
&nbsp;&nbsp;<a id="btnAdicionar" data-toggle="modal" data-id='{{data}}' data-target="#myModal" title="{{title}}" ><i class="fas fa-plus"></i></a>
{% endmacro %}