{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "uteis.html" as functions %}
{% import "funcoes.html" as msg %}

{% block content %}

<div class="col-md-12">
    {{ msg.messagem(classe, texto)}}
</div>
<div class="col-md-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="../produto"><i class="fas fa-box-open"></i> Visualizar Produtos</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class=" text-capitalize text-muted"><i class="fas fa-retweet"></i> ATUALIZAR PREÇO {{produto.nome}}</h4></div>
        <div class="panel-body">
                <input name="atualizar_imagem" type="hidden" value="" id="caminho">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <input name="imagem_produto" type="hidden" value="{{produto.imagem}}" id="img_cod">

                                <figure class="figure">
                                    {% if produto.imagem %}
                                    <img id="perfil" class="img-responsive img-thumbnail"  alt="imagem do bem" src="{{ base_url}}/uploads/imagem/{{produto.imagem}}">
                                    {% else %}
                                    <img id="perfil" class="img-responsive img-thumbnail"  alt="imagem do bem" src="{{ base_url}}/uploads/imagem/sem_imagem.jpg">
                                    {% endif %}

                                </figure>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="c_ufc" class="control-label">Cód. UFC</label>
                                        <input name="c_ufc" type="text" class="form-control" id="c_ufc" value="{{produto.codigo_ufc}}" disabled>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="c_barras" class="control-label">Cód. Barras</label>
                                        <input name="c_barras" type="text" class="form-control" id="c_barras" value="{{produto.codigo_barras}}" disabled>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="nome" class="control-label">Descrição</label>
                                        <input name="nome" type="text" class="form-control" id="nome" value="{{produto.nome}}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                            <h4>Alterações das Médias Anuais de Preços</h4>
                            <hr>
                            </div>
                            
                            <div class="col-md-6 col-md-offset-3">
                                <table class="table  table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Ano</td>
                                            <td>Média</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for b in balanco %}
                                        <tr class="text-center">                                         
                                            <td>{{b.ano}}</td>
                                            <td >
                                                <form action="" method="POST">
                                                    <input type="hidden" name="ano" value="{{b.ano}}">
                                                    <input type="hidden" name="produto_codigo" value="{{b.produto_codigo}}">
                                                    <div class="col-md-3">
                                                        <input name="media" onKeyPress="return(moeda(this, '.', ',', event))" type="text" class="form-control" value="{{b.media}}">
                                                    </div>
                                                     <div class="col-md-2">
                                                        <input type="submit" class="btn btn-primary" value="Salvar">
                                                     </div>
                                                </form>
                                            </td>
                                           
                                        </tr>
                                         {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}

