{% extends "base2.html" %}
{% import "funcoes.html" as msg %}
{% import "uteis.html" as functions %}
{% block content %}

<div class="col-md-12">
  {{ msg.messageErro( mensagemErro )}}
</div>

<div class="col-md-12">
  <input type="hidden" id="setores" class="form-control" name="setores" >
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Selecione o setor que deseja filtrar</h4></div>
    <div class="panel-body">
      <form id="formFiltro" method="GET" action="gerarpdf-bens">
        <div class="row">

          <div class="form-group col-md-6">
            <label class="container">TODOS OS SETORES
              <input type="radio" checked="checked" name="radio" value="-1" >
              <span class="checkmark"></span>
            </label>
            {% for _setor in setores %}
            <label class="container">{{_setor.nome}} / {{_setor.sigla}}
              <input type="radio" name="radio" value="{{_setor.setor_id}}">
              <span class="checkmark"></span>
            </label>
            {% endfor %}
          </div>
        </div>
        <div class="text-center"> <input type="submit" id="setores" class="btn btn-primary" name="setores" value="Gerar Relatório" ></div>
      </form>
    </div>
  </div>
</div>
{{ functions.modalExcluir() }}
{% endblock %}